
.container {
  max-width: 450px;
  margin: 35px auto;
  padding: 30px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Roboto, sans-serif;
  border-top: 6px solid #003087;
}

.container h2 {
  text-align: center;
  color: #003087;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #003087;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}

input:focus {
  border-color: #FF6200; 
  box-shadow: 0 0 4px rgba(255, 98, 0, 0.4);
}

/* Error text */
.error-text {
  margin-top: 4px;
  color: #FF6200;
  font-size: 12px;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: none;
  background: #003087;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  margin-top: 10px;
}

button:hover {
  background: #FF6200; 
}

.result-box {
  width: 100%;
  margin-top: 15px;
  padding: 18px;
  background: #f5f5f5;
  border-radius: 10px;
  border: 2px solid #003087;
  font-size: 14px;
  color: #003087;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-box h3 {
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

.result-info p {
  font-size:medium;
  text-align: left;
}

.error-message {
  margin-top: 15px;
  padding: 12px;
  background: #fff0f0;
  border-left: 6px solid #FF6200;
  border-radius: 8px;
  color: #FF6200;
  font-size: 14px;
}

@media (max-width: 480px) {
  .container {
    max-width: 95%;
    padding: 20px;
  }

  button {
    font-size: 14px;
  }
}